<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405249589534-6oj3n9s6vh0jv00rcfdbtnn91f4c1vod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405249589534-6oj3n9s6vh0jv00rcfdbtnn91f4c1vod</string>
	<key>API_KEY</key>
	<string>AIzaSyCAm8CEufZEbLaZEH1L48Appy0cDnz0svU</string>
	<key>GCM_SENDER_ID</key>
	<string>405249589534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.maroqand.resident</string>
	<key>PROJECT_ID</key>
	<string>resident-48bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>resident-48bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405249589534:ios:04b0699f55a10c1b1c090f</string>
</dict>
</plist>